{% extends "base.html" %}
{%load humanize %}


{% block "head" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block "content" %}
<div class="flex flex-col m-2">
    <h1 class="font-bold">But, is solar <em>worth</em> it?</h1>
    <p>Yes. Since installing solar I've saved <span class="underline decoration-dashed font-bold">¥{{ lifetime_savings|intcomma }}</span> in electricity costs.</p>
    <p>Here's a berakdown for each billing period since my installation.</p>
    {% for billing_period in billing_periods reversed %}
        <div class="mt-2 text-sm">
            <details>
                <summary>
                    <h1 class="bg-slate-700 text-white text-sm inline-block px-2">{{ billing_period.start_at|date:"M d"}} ~ {{ billing_period.end_at|date:"M d"}} </h1>
                    <p>I consumed <span class="underline decoration-dashed font-bold">{{ billing_period.total_consumption|floatformat:2 }}kWh</span> and generated <span class="underline decoration-dashed font-bold">{{ billing_period.total_generation|floatformat:2 }}kWh</span>.</p>
                    <p>This would have cost me <span class="underline decoration-dashed font-bold">¥{{ billing_period.total_cost|intcomma }}</span> <em>without</em> solar.</p>
                    <p>My actual cost was <span class="underline decoration-dashed font-bold">¥{{ billing_period.actual_cost|intcomma }}</span>.</p>
                    <p>I saved <span class="underline decoration-dashed font-bold">¥{{ billing_period.generation_savings|intcomma }}</span> with generation and earned <span class="underline decoration-dashed font-bold">¥{{ billing_period.sold_price|intcomma }}</span> for a total savings of <span class="underline decoration-dashed font-bold">¥{{ billing_period.total_savings|intcomma }}</span></p>
                </summary>
                <table class="mt-2">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th class="pr-2">Generation</th>
                            <th class="pr-2">Consumption</th>
                            <th class="pr-2">Bought</th>
                            <th class="pr-2">Sold</th>
                        </tr>
                    </thead>
                    <tbody class="text-right">
                        {% for date, row in billing_period.daily_data.items %}
                            <tr>
                                <td>{{ date|date:"Y/m/d" }}</td>
                                <td class="pr-2">{{ row.generation|floatformat:2 }}</td>
                                <td class="pr-2">{{ row.consumption|floatformat:2 }}</td>
                                <td class="pr-2">{{ row.bought|floatformat:2 }}</td>
                                <td class="pr-2">{{ row.sold|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </details>
        </div>
    {% endfor %}
</div>
{% endblock %}