<html class="text-2xl">
    <head>
        <title>☀︎ Bottling the Sun</title>
        <link href="/static/css/style.css" rel="stylesheet"/>
        <script src="https://cdn.tailwindcss.com"></script>
        {% block "head" %}
        {% endblock %}
    </head>
    <body>
        <nav class="w-full mx-2">
            <h1 class="inline-block">☀︎ Bottling the Sun</h1>
        </nav>
        {% block "content" %}
        {% endblock %}
        <div class="">
            <p class="text-center text-xs">
                Made by <a href="https://jamesvandyne.com" class="underline">James Van Dyne</a>.

            </p>
        </div>
    </body>
</html>